﻿
@{
    ViewBag.Title = "SnowflakeIndex";
}

<h2>Snowflake Reports</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Snowflake Reports</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
</head>
<body style="padding:50px">
    <h3>Main Claims:</h3>
    <table class="table table-striped table-bordered table-hover">
        <tr><td>Name</td><td>@ViewBag.Name</td></tr>
        <tr><td>Username</td><td>@ViewBag.Username</td></tr>
    </table>
    <br />
    @Html.ActionLink("Run Test", "SnowflakeTest", "Snowflake")
    <table class="table table-striped table-bordered table-hover table-condensed">
        @foreach (var line in ViewBag.testResult)
        {
            <tr><td>@line</td></tr>
        }
    </table>
</body>
</html>