﻿
@{
    ViewBag.Title = "Index";
}

<h2>Data Warehouse Reporting</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- If the user is not authenticated, display the sign-in button -->
        //@Html.ActionLink("Sign In", "SignIn", "Home", null, new { @class = "btn btn-primary" })
        <br />
        <a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
                <style type="text/css">

                    .fil0:hover {
                        fill: #4B4B4B;
                    }

                    .fnt0 {
                        font-size: 260px;
                        font-family: 'Segoe UI Semibold', 'Segoe UI';
                        text-decoration: none;
                    }
                </style>
                <rect class="fil0" x="2" y="2" rx="80" ry="80" width="3174" height="517" fill="black" />
                <rect x="150" y="129" width="122" height="122" fill="#F35325" />
                <rect x="284" y="129" width="122" height="122" fill="#81BC06" />
                <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />
                <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />
                <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
            </svg>
        </a>
    }
    else
    {
        <span><br />Hello @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value;</span>
        <br /><br />
        @Html.ActionLink("See Your Claims", "Claims", "Claims")
        <br /><br />
        @Html.ActionLink("Snowflake Reports", "SnowflakeIndex", "Snowflake")
        <br /><br />
        @Html.ActionLink("Wallboards", "Index", "Wallboard")
        <br /><br />
        @Html.ActionLink("Sign out", "SignOut", "Home")
    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }
</body>
</html>